<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <!-- API Keys -->
    <add key ="Mode" value ="Daily"/>
    <!-- <add key ="Mode" value ="Interval"/>-->
    <add key ="IntervalMinutes" value ="1"/>
    <add key ="ScheduledTime" value ="19:00"/>
    <add key="MusicGrapgh_api_key" value="7828ace39071524a173abb5b404e7b99" />

    <add key="SeatGeek_client_id" value="NDI5Mzc5NHwxNDU3MDEwMjI0" />
    <add key="SeatGeek_client_secret" value="DmUTFPWXfhFEq26d9YfsKFdKimSnkW9j-rn7pwN2" />
    <add key="Spotify_client_id" value="0dd348a36797488295cf4563b88af1b8" />
    <add key="Spotify_client_secret" value="c09bf5ee7f6e4af49df84c0f17017559" />
    <add key="Spotify_access_token" value="BQAGJyoDrSJQCWrfPZdJCFQNlFgUJoi5t_93f9VMO3VrhGJ0-oVh1OalQrWOZQVcyqQe6N70XCDma_DbN9HSM9GP07Q" />
    <add key="Spotify_Country" value="US" />
    <add key="Eventful_app_key" value="rTrBs399h3nvVW5n" />


    <!--New keys-->

    <add key="SiteImgPath" value="C:\inetpub\wwwroot\Content\Upload" />
    <add key="SiteImgURL" value="http://appserver.musikaapp.com/Content/Upload" />
    <add key="WebPath" value="http://appserver.musikaapp.com/" />

    <add key="instagram.clientid" value="b4cba06e1898460d9eaf1cf958aef06e" />
    <add key="instagram.clientsecret" value="8b1523a09fd14ba38593bbb03acca2a2" />
    <add key="instagram.access_token" value="3043048321.b4cba06.b0204541f7e74112b796eeadbf154de3" />
    <add key="instagram.redirecturi" value="http://localhost:35515/Admin/Login/Index" />
    <add key="Instagram.HashTag" value="False" />
    <!--False/True -->

    <add key="Instagram.ArtistPicture" value="False" />
    <!--False/True -->
    <add key="Eventful.ArtistPicture" value="False" />
    <!--False/True -->
    <add key="SeatGeek.ArtistPicture" value="True" />
  </appSettings>
  <connectionStrings>
    <!-- 23.111.138.246 database url for development environment -->
    <add name="MusikaEntities" connectionString="metadata=res://*/MusikaModel.csdl|res://*/MusikaModel.ssdl|res://*/MusikaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-6C7LT1E\SQLEXPRESS;initial catalog=MusikaNew;Integrated Security=True;MultipleActiveResultSets=True;App=Musika&quot;" providerName="System.Data.EntityClient" />
    <add name="MusikaEntitiesADO" connectionString="Data Source=DESKTOP-6C7LT1E\SQLEXPRESS;initial catalog=MusikaNew;Integrated Security=True;" />
    <!--<add name="MusikaEntities" connectionString="metadata=res://*/MusikaModel.csdl|res://*/MusikaModel.ssdl|res://*/MusikaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=23.111.138.246,2728;initial catalog=MusikaNew;user id=sa;password=sdsol99!;MultipleActiveResultSets=True;App=Musika&quot;" providerName="System.Data.EntityClient" />
    <add name="MusikaEntitiesADO" connectionString="Data Source=23.111.138.246,2728; Initial Catalog=MusikaNew;App=Musika; User ID=sa; Password=sdsol99!;" />-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>