<div class="body-content">
  <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../assets/css/style.css" rel="stylesheet">
  <!--<link href="../../assets/css/font-awesome.min.css" rel="stylesheet">-->
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700" rel="stylesheet">

  <section class="banner_section">

    <div class="search_banner-field">
      <form class="navbar-form navbar-left pull-right">
        <div class="form-group">

          <input type="text" class="form-control" placeholder="Event search">
        </div>
        <button type="submit" class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i></button>
      </form>
    </div>
  </section>


  <section class="carousal_section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="section-title">
            Most Popular Events
          </h2>
          <div id="Carousel" class="carousel slide">

            <ol class="carousel-indicators">
              <li data-target="#Carousel" data-slide-to="0" class="active"></li>
              <li data-target="#Carousel" data-slide-to="1"></li>

            </ol>

            <!-- Carousel items -->
            <div class="carousel-inner">

              <div class="item active">
                <div class="row">
                  <div class="col-md-3 col-sm-3 col-xs-6"><a href="#" class="thumbnail"><img src="../../assets/image_14.jpg" alt="Image" style="max-width:100%;"></a></div>
                  <div class="col-md-3 col-sm-3 col-xs-6"><a href="#" class="thumbnail"><img src="../../assets/image_15.jpg" alt="Image" style="max-width:100%;"></a></div>
                  <div class="col-md-3 col-sm-3 col-xs-6"><a href="#" class="thumbnail"><img src="../../assets/image_16.jpg" alt="Image" style="max-width:100%;"></a></div>
                  <div class="col-md-3 col-sm-3 col-xs-6"><a href="#" class="thumbnail"><img src="../../assets/image_17.jpg" alt="Image" style="max-width:100%;"></a></div>
                </div><!--.row-->
              </div><!--.item-->

              <div class="item">
                <div class="row">
                  <div class="col-md-3 col-sm-3 col-xs-6"><a href="#" class="thumbnail"><img src="../../assets/image_11.jpg" alt="Image" style="max-width:100%;"></a></div>
                  <div class="col-md-3 col-sm-3 col-xs-6"><a href="#" class="thumbnail"><img src="../../assets/image_13.jpg" alt="Image" style="max-width:100%;"></a></div>
                  <div class="col-md-3 col-sm-3 col-xs-6"><a href="#" class="thumbnail"><img src="../../assets/image_12.jpg" alt="Image" style="max-width:100%;"></a></div>
                  <div class="col-md-3 col-sm-3 col-xs-6"><a href="#" class="thumbnail"><img src="../../assets/image_16.jpg" alt="Image" style="max-width:100%;"></a></div>

                </div><!--.row-->
              </div><!--.item-->

            </div><!--.carousel-inner-->
            <a data-slide="prev" href="#Carousel" class="left carousel-control">‹</a>
            <a data-slide="next" href="#Carousel" class="right carousel-control">›</a>
          </div><!--.Carousel-->

        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h2 class="section-title">Recommended Events</h2>
          <div id="Carousel1" class="carousel slide">

            <ol class="carousel-indicators">
              <li data-target="#Carousel1" data-slide-to="0" class="active"></li>
              <li data-target="#Carousel1" data-slide-to="1"></li>

            </ol>

            <!-- Carousel items -->
            <div class="carousel-inner">

              <div class="item active">
                <div class="row">
                  <div class="col-md-3 col-sm-3 col-xs-6"><a href="#" class="thumbnail"><img src="../../assets/image_11.jpg" alt="Image" style="max-width:100%;"></a></div>
                  <div class="col-md-3 col-sm-3 col-xs-6"><a href="#" class="thumbnail"><img src="../../assets/image_12.jpg" alt="Image" style="max-width:100%;"></a></div>
                  <div class="col-md-3 col-sm-3 col-xs-6"><a href="#" class="thumbnail"><img src="../../assets/image_13.jpg" alt="Image" style="max-width:100%;"></a></div>
                  <div class="col-md-3 col-sm-3 col-xs-6"><a href="#" class="thumbnail"><img src="../../assets/image_17.jpg" alt="Image" style="max-width:100%;"></a></div>
                </div><!--.row-->
              </div><!--.item-->

              <div class="item">
                <div class="row">
                  <div class="col-md-3 col-sm-3 col-xs-6"><a href="#" class="thumbnail"><img src="../../assets/image_14.jpg" alt="Image" style="max-width:100%;"></a></div>
                  <div class="col-md-3 col-sm-3 col-xs-6"><a href="#" class="thumbnail"><img src="../../assets/image_15.jpg" alt="Image" style="max-width:100%;"></a></div>
                  <div class="col-md-3 col-sm-3 col-xs-6"><a href="#" class="thumbnail"><img src="../../assets/image_16.jpg" alt="Image" style="max-width:100%;"></a></div>
                  <div class="col-md-3 col-sm-3 col-xs-6"><a href="#" class="thumbnail"><img src="../../assets/image_13.jpg" alt="Image" style="max-width:100%;"></a></div>

                </div><!--.row-->
              </div><!--.item-->

            </div><!--.carousel-inner-->
            <a data-slide="prev" href="#Carousel1" class="left carousel-control">‹</a>
            <a data-slide="next" href="#Carousel1" class="right carousel-control">›</a>
          </div><!--.Carousel-->

        </div>
      </div>
    </div>
  </section>

  <section class="image_grid-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="section-title">Soon</h2>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
          <div class="grid_pic">
            <img src="../../assets/image_11.jpg" class="img-responsive">
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
          <div class="grid_pic">
            <img src="../../assets/image_12.jpg" class="img-responsive">
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
          <div class="grid_pic">
            <img src="../../assets/image_13.jpg" class="img-responsive">
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
          <div class="grid_pic">
            <img src="../../assets/image_14.jpg" class="img-responsive">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-6">
          <div class="grid_pic">
            <img src="../../assets/image_15.jpg" class="img-responsive">
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
          <div class="grid_pic">
            <img src="../../assets/image_16.jpg" class="img-responsive">
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
          <div class="grid_pic">
            <img src="../../assets/image_17.jpg" class="img-responsive">
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
          <div class="grid_pic">
            <img src="../../assets/image_11.jpg" class="img-responsive">
          </div>
        </div>
      </div>

    </div>
  </section>


  <section class="newsletter-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-7 col-xs-12">

          <div class="newsletter-text">
            <h2>Sign up for newsletter</h2>
            <!--<p>Duis autem vel eum iriureDuis autem vel eum</p>-->
          </div>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-5 col-xs-12">
          <form class="navbar-form navbar-left pull-right newsletter-form">
            <div class="form-group">

              <input type="text" class="form-control" placeholder="Email">
            </div>
            <button type="submit" class="btn btn-default">Subscribe</button>
          </form>
        </div>

      </div>
    </div>
  </section>

  <!--<footer-component></footer-component>-->

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <!--<script src="../../../src/assets/js/bootstrap.min.js"></script>-->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>

  <script>
    $(document).ready(function () {
      $('#Carousel').carousel({
        interval: 5000
      })
    });
  </script>
</div>

