<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!--<add key="con" value="Data Source=54.70.35.64;Initial Catalog=Musika;App=Musika;User ID=sa;Password=sdsol99!;MultipleActiveResultSets=True;App=EntityFramework"/>-->
    <add key="con" value="Data Source=23.111.138.246,2728;Initial Catalog=MusikaNew;App=Musika;User ID=sa;Password=sdsol99!;MultipleActiveResultSets=True;App=EntityFramework" />
  </appSettings>
  <connectionStrings>
    <add name="MusikaEntities" connectionString="metadata=res://*/MusikaModel.csdl|res://*/MusikaModel.ssdl|res://*/MusikaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=23.111.138.246,2728;initial catalog=MusikaNew;user id=sa;password=sdsol99!;MultipleActiveResultSets=True;App=Musika&quot;" providerName="System.Data.EntityClient" />
    <add name="MusikaEntitiesADO" connectionString="Data Source=23.111.138.246,2728; Initial Catalog=MusikaNew;App=Musika; User ID=sa; Password=sdsol99!;Connection Timeout=3000;" />
    <!--<add name="MusikaEntitiesADO" connectionString="Data Source=DESKTOP-Q3NE7E6\SQLEXPRESS;Initial Catalog=MusikaNew;Integrated Security=False;" />-->

    <!--<add name="MusikaEntities" connectionString="metadata=res://*/MusikaModel.csdl|res://*/MusikaModel.ssdl|res://*/MusikaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=staging2.sdsol.com;initial catalog=Musika;user id=sa;password=sdsol99!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="MusikaEntities" connectionString="metadata=res://*/MusikaModel.csdl|res://*/MusikaModel.ssdl|res://*/MusikaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=54.70.35.64; Initial Catalog=Musika;App=Musika; User ID=sa; Password=sdsol99!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="MusikaEntities" connectionString="metadata=res://*/MusikaModel.csdl|res://*/MusikaModel.ssdl|res://*/MusikaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SALMAN-PC\SQLEXPRESS;initial catalog=Musika;user id=sa;password=sdsol99!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <!--<add name="MusikaEntities" connectionString="metadata=res://*/MusikaModel.csdl|res://*/MusikaModel.ssdl|res://*/MusikaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-Q3NE7E6\SQLEXPRESS;initial catalog=MusikaNew;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>