@{
    ViewBag.Title = "Ticketing User Event";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h2>Ticketing User Events</h2>

<div class="panel panel-inverse" style="visibility: visible; opacity: 1; display: block; transform: translateY(0px);">
    <div class="panel-heading"></div>
    <div class="panel-body no-padding">

        <input type="hidden" id="hfSortOrder" value="ASC" />
        <input type="hidden" id="hfSortColumn" value="EventName" />
        <input type="hidden" id="hfCurrntPageIndex" />
        <input type="hidden" id="hfTotalCount" />

        <form class="form-horizontal padding20" id="form-search-UserEvents">
            <div class="form-group">
                <label class="col-md-1 text-right">User Name:</label>
                <div class="col-md-3">
                    <input type="text" class="form-control" data-element="sUserName" />
                </div>

                <label class="col-md-1 text-right">Email:</label>
                <div class="col-md-3">
                    @if (ViewBag.email == null || ViewBag.email == "")
                    {
                        <input type="text" class="form-control" data-element="sEmail" value="" />
                    }
                    else
                    {
                        <p>@ViewBag.email</p>
                        <input type="text" class="form-control" data-element="sEmail" value=@ViewBag.email />
                    }
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-1 text-right">Event Name:</label>
                <div class="col-md-3">
                    <input type="text" class="form-control" data-element="sEventName" />
                </div>

                <label class="col-md-1 text-right">Venue Name:</label>
                <div class="col-md-3">
                    <input type="text" class="form-control" data-element="sVenueName" />
                </div>
                <div class="col-sm-offset-1 col-md-3">
                    <input type="button" class="btn btn-inverse" value="Search" id="btnSearch" />
                </div>
            </div>
        </form>


        <table class="table table-striped table-bordered table-hover datatables-example datatable dtr-inline">
            <thead>
                <tr>
                    <th style="cursor: pointer;" onclick="SortData(this);" width="170px">
                        Email
                        <span data-col="Email" class="sort">&nbsp;</span>
                    </th>

                    <th style="cursor: pointer;" onclick="SortData(this);" width="270px">
                        Event Date
                        <span data-col="Datetime_Local" class="sort">&nbsp;</span>
                    </th>
                    <th style="cursor: pointer;" onclick="SortData(this);" width="170px">
                        Event Name
                        <span data-col="EventName" class="sort">&nbsp;</span>
                    </th>
                    <th style="cursor: pointer;" onclick="SortData(this);" width="230px">
                        Venue Name
                        <span data-col="VenueName" class="sort">&nbsp;</span>
                    </th>
                    <th style="cursor: pointer;" onclick="SortData(this);" width="230px">
                        Artist Name
                        <span data-col="ArtistName" class="sort">&nbsp;</span>
                    </th>
                    <th style="cursor: pointer;" onclick="SortData(this);" width="230px">
                        Approved
                        <span data-col="IsApproved" class="sort">&nbsp;</span>
                    </th>
                    <th style="min-width:250px;">Actions</th>
                </tr>
            </thead>
            <tbody id="tbodyUserEvents"></tbody>
        </table>

        <div class="row padding10">
            <div class="col-md-6" id="page">

            </div>
            <div class="col-md-6">
                <nav class="pull-right">
                    <ul class="pagination" style="margin:0;" id="pagination"></ul>
                </nav>
            </div>
        </div>

    </div>
</div>

@section scripts{
    <script src="~/Areas/Admin/Content/scripts/ticketing-events.js"></script>
}
