
body {
}

.register_form label {
  width: auto;
  float: left;
  margin-right: 18px;
}

input[type=radio] {
  position: absolute;
  visibility: hidden;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #222;
  }

    [type="radio"]:checked + label:before,
    [type="radio"]:not(:checked) + label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 18px;
      height: 18px;
      border: 2px solid rgb(38, 174, 150);
      border-radius: 100%;
      background: #fff;
    }

    [type="radio"]:checked + label:after,
    [type="radio"]:not(:checked) + label:after {
      content: '';
      width: 10px;
      height: 10px;
      background: rgb(38, 174, 150);
      position: absolute;
      top: 4px;
      left: 4px;
      border-radius: 100%;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }

    [type="radio"]:not(:checked) + label:after {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }

    [type="radio"]:checked + label:after {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }


@media (max-width:992px) {
  .cover_login_register_register {
    width: 70% !important;
    margin: 105px auto !important;
    padding: 10px !important;
  }
  .cover_login_register_register {
    top: 0px;
  }

    .cover_login_register_register form {
      display: inline-block;
      width: 100%;
    }
}


@media (max-width:767px) {
  .cover_login_register_register {
    width: 95% !important;
    margin: 150px auto !important;
  }

 
}
