<!--<h1>Login Page</h1>-->
<link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
<link href="../../assets/css/style.css" rel="stylesheet">
<!--<link href="../../assets/css/font-awesome.min.css" rel="stylesheet">-->
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700" rel="stylesheet">


<div style="align-content:center;">
  <div class="col-md-10 col-md-offset-2" style="margin-top:65px;">
    <h2>Ticket Generation</h2>
    <form name="form" (ngSubmit)="f.form.valid && ticketgeneration()" #f="ngForm" novalidate>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted  }">
        <label for="ticketname" class="col-md-5">Ticket Name</label>
        <label for="quantityavialable" class="col-md-2">Quantity Available</label>
        <label for="price" class="col-md-2">Price</label>
        <label for="actions" class="col-md-2">Actions</label>
      </div>

      <div class="form-group">
        <input type="text" class="col-md-5" name="ticketname" [(ngModel)]="model.ticketname" #username="ngModel" required />
        <input type="text" class="col-md-2" name="quantityavialable" [(ngModel)]="model.quantityavialable" #username="ngModel" required />
        <input type="text" class="col-md-2" name="price" [(ngModel)]="model.price" #username="ngModel" required />
        <img src="" alt="Image1" class="col-md-1" />
        <img src="" alt="Image1" class="col-md-1" />
      </div>
      <div class="row">
        <br />
      </div>
      <div class="form-group">

        <div class="btn-group btn-group--responsive" style="text-align:center;">
          <br />
          <a href="#">
            <button class="btn" style="background-color:white;border-color:cornflowerblue;"><i class="fa fa-bars"></i> Free ticket</button>
          </a>

          <a href="#" data-type="paid" id="create-ticket-paid-button">
            <button class="btn" style="background-color:white;border-color:cornflowerblue;"><i class="fa fa-bars"></i> Paid ticket</button>
          </a>

          <a href="#" data-type="donation" id="create-ticket-donation-button">
            <button class="btn" style="background-color:white;border-color:cornflowerblue;"><i class="fa fa-bars"></i> Donations</button>
          </a>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <label class="col-md-4">In which country will you be paid? * </label>
          <label class="col-md-4">Currency * </label>
        </div>
        <div class="row">
          <select data-check="{}" id="country" name="group-privacy_and_promotion-event_format" class="col-md-6">
            <option value="" selected="selected">Please Select a Country</option>
            <option value="1">U.S.A.</option>
            <option value="2">England</option>
            <option value="3">Canada</option>
            <option value="4">India</option>
          </select>
          <select data-check="{}" id="currency" name="group-privacy_and_promotion-event_format" class="col-md-3">
            <option value="" selected="selected">Please Select a Currency</option>
            <option value="1">US Dollars $</option>
            <option value="2">Pounds</option>
          </select>
        </div>
        <div class="row">
          <span>Once your first ticket has sold. the above information can't be changed.</span>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <label>Tax Options</label>
        </div>
        <div class="row">
          <label>Add Sales Tax</label>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <b>Refund Policy</b>
        </div>
        <div class="row">
          <div class="">
            <input type="radio" id="rdoday1" name="radio1" />Attendee's can receive refunds up to 1 day before your event start date
          </div>
          <div class="">
            <input type="radio" id="rdoday1" name="radio1" />Attendee's can receive refunds up to 7 days before your event start date
          </div>
          <div class="">
            <input type="radio" id="rdoday1" name="radio1" />Attendee's can receive refunds up to 30 days before your event start date
          </div>
          <div class="">
            <input type="radio" id="rdoday1" name="radio1" />No refunds
          </div>
        </div>
      </div>

      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">Generate Tickets</button>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
      </div>
      <div class="form-group">
        <a [routerLink]="['/register']" class="btn btn-link">Register</a>
        <a [routerLink]="['/forgetpassword']" class="btn btn-link">Forget Password</a>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <br />
</div>

