<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
   
    <add key="SiteImgPath" value="D:\inetpub\wwwroot\Content\Upload" />
    <add key="SiteImgURL" value="http://appserver.musikaapp.com/Content/Upload" />
    <add key="WebPath" value="http://appserver.musikaapp.com/" />
    
   
    <add key="ImageThumbSize" value="300" />
    <add key="ImageSize" value="800" />


    <add key="XMPPPrefix" value="" />

    <add key="AppName" value="Musika" />
    <add key="RootPath" value="D:\inetpub\wwwroot" />


    <!-- Logger -->
    <add key="LogFilePath" value="D:\inetpub\wwwroot\content\" />
    <add key="Logger" value="false" />
    
    
    <!-- API Keys -->
    <add key="MusicGrapgh_api_key" value="e5e437e8640dd14c33bb48b20673678d" />
    
    <add key="SeatGeek_client_id" value="NjQ2MDAyNXwxNDgyMTc0NTE5" />
    <add key="SeatGeek_client_secret" value="jd0ULcjTOyt1Bvz_jXZXxkWRkvvDFXI2PlXwSOff" />

    <!--<add key="SeatGeek_client_id" value="NDI5Mzc5NHwxNDU3MDEwMjI0" />
    <add key="SeatGeek_client_secret" value="DmUTFPWXfhFEq26d9YfsKFdKimSnkW9j-rn7pwN2	Edit" /> -->

    <add key="Spotify_client_id" value="0dd348a36797488295cf4563b88af1b8" />
    <add key="Spotify_client_secret" value="c09bf5ee7f6e4af49df84c0f17017559" />
    <add key="Spotify_access_token" value="BQAGJyoDrSJQCWrfPZdJCFQNlFgUJoi5t_93f9VMO3VrhGJ0-oVh1OalQrWOZQVcyqQe6N70XCDma_DbN9HSM9GP07Q" />
    <add key="Spotify_Country" value="US" />
    
    
    <add key="Eventful_app_key" value="rTrBs399h3nvVW5n" />
    
    <add key="instagram.clientid" value="b4cba06e1898460d9eaf1cf958aef06e" />  
    <add key="instagram.clientsecret" value="8b1523a09fd14ba38593bbb03acca2a2" />
    <add key="instagram.access_token" value="3043048321.b4cba06.b0204541f7e74112b796eeadbf154de3" />
    <add key="instagram.redirecturi" value="http://localhost:35515/Admin/Login/Index" />
    <add key="Instagram.HashTag" value="False" />   <!--False/True -->

    <add key="Instagram.ArtistPicture" value="False" /> <!--False/True -->
    <add key="Eventful.ArtistPicture" value="False" /> <!--False/True -->
    <add key="SeatGeek.ArtistPicture" value="True" /> <!--False/True -->

    
    <!-- Log Exception -->
    <add key="AppName" value="Musika" />    
    
    
    <!-- Email send From  -->
    <add key="ADMIN_EMAIL" value="relay@sdsol.com" />
    
    <!-- API Authentification  -->
    <add key="passwordKey" value="53mn4NVbODlLqS2" />
    <add key="ApiUsername" value="sdsol" />
    <add key="ApiPassword" value="sdsol99" />
    
    <!-- Push Notification IOS  -->
    <add key="PushNotification" value="D:\inetpub\wwwroot\Content\Certificates\Certificates-Musika-Prod.p12" />
    <add key="CodeValue" value="" />
    <add key="APNSProduction" value="1" />
    
    <!-- Push Notification Android  -->
    <add key="GoogleAppID" value="AIzaSyC-wCNZQTQLnvpvZ4q-DjhcImsq5oyqVVs" />
    <add key="SENDER_ID" value="308136215132" />
                                
  </appSettings>
  
  <connectionStrings>
	  <add name="MusikaEntities" connectionString="metadata=res://*/MusikaModel.csdl|res://*/MusikaModel.ssdl|res://*/MusikaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN-3GTMBMFNA4K;initial catalog=Musika;user id=sa;password=sdsol99!;MultipleActiveResultSets=True;App=Musika&quot;" providerName="System.Data.EntityClient" />
    <add name="MusikaEntitiesADO" connectionString="Data Source=WIN-3GTMBMFNA4K; Initial Catalog=Musika;App=Musika; User ID=sa; Password=sdsol99!;" />

    <!--<add name="MusikaEntities" connectionString="metadata=res://*/MusikaModel.csdl|res://*/MusikaModel.ssdl|res://*/MusikaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN-V4A7JALMOLH;initial catalog=Musika;user id=sa;password=sdsol99!;MultipleActiveResultSets=True;App=Musika&quot;" providerName="System.Data.EntityClient" />
    <add name="MusikaEntitiesADO" connectionString="Data Source=WIN-V4A7JALMOLH; Initial Catalog=Musika;App=Musika; User ID=sa; Password=sdsol99!;" />-->

    <!--<add name="MusikaEntities" connectionString="metadata=res://*/MusikaModel.csdl|res://*/MusikaModel.ssdl|res://*/MusikaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SALMAN-PC\SQLEXPRESS;initial catalog=Musika;user id=sa;password=sdsol99!;MultipleActiveResultSets=True;App=Musika&quot;" providerName="System.Data.EntityClient" />
    <add name="MusikaEntitiesADO" connectionString="Data Source=SALMAN-PC\SQLEXPRESS; Initial Catalog=Musika;App=Musika; User ID=sa; Password=sdsol99!;" />-->
    
    <!--<add name="OpenFireConnection" connectionString="data source=staging2.sdsol.com;initial catalog=Openfire;user id=sa;password=sdsol99!;enlist=false;Pooling=true;" />-->
    <!--<add name="MusikaEntities" connectionString="metadata=res://*/MusikaModel.csdl|res://*/MusikaModel.ssdl|res://*/MusikaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SALMAN-PC\SQLEXPRESS;initial catalog=Musika;user id=sa;password=sdsol99!;MultipleActiveResultSets=True;App=Musika&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" executionTimeout="10000000" maxRequestLength="214748364" />
    <pages>
      <namespaces>
        <add namespace="MvcPaging" />
      </namespaces>
    </pages>
  </system.web>
  <!--<security>
    <requestFiltering>
      <requestLimits maxAllowedContentLength="104857600" />
    </requestFiltering>
  </security>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="relay@sdsol.com">
        <network host="smtp.office365.com" port="587" defaultCredentials="false" userName="relay@sdsol.com" enableSsl="true" password="Vuza9767" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
<modules>
        <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>