<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
  </configSections>

  <!-- PayPal SDK settings -->
  <paypal>
    <settings>
      <add name="mode" value="sandbox" />
      <add name="connectionTimeout" value="360000" />
      <add name="requestRetries" value="1" />
      <add name="clientId" value="ARVWFcARPu_OEU3NKM3wJ0lyN4fNsLGsuGjTEofoPamvrsoTMx5qKLilrs_2dqIlE0ONObqcxiQ_TB78" />
      <add name="clientSecret" value="EF75hok2kTEmZXcbFaqa7B8pvclNdmCabTFIQCkl99TEA0LfnEkstOmpsiOqqbIfcR3VhpZR8x-kCy4N" />
    </settings>
  </paypal>

  <appSettings>
    
      <!--  PayPay parameters-->
      <add key="BusinessEmail" value="shalludogra.eminence@gmail.com" />
      <add key="CancelPurchaseUrl" value="http://7389b6ab.ngrok.io/Failure.aspx" />
      <add key="ReturnUrl" value="http://7389b6ab.ngrok.io/PaypalResponse.aspx" />
      <add key="NotifyUrl" value="http://7389b6ab.ngrok.io/PaymentResponse.aspx" />
      <add key="CurrencyCode" value="USD" />
      <add key="UseSandbox" value="true" />
      <add key="SendToReturnURL" value="false" />
   
    
    
    
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!--<add key="SiteImgPath" value="D:\www\Musika\Content\Upload" />
    <add key="SiteImgURL" value="http://staging2.sdsol.com/Musika/Content/Upload" />
    <add key="WebPath" value="http://staging2.sdsol.com/Musika/" />-->

    <!--<add key="SiteImgPath" value="D:\TFS\Musika\Musika\Musika\Content\Upload" />-->
    <add key="SiteImgPath" value="E:\GitHub_Musika\Musika\Content\Upload" />
    <add key="SiteImgURL" value="http://appserver.musikaapp.com/Content/Upload" />
    <!--<add key="WebPath" value="23.111.138.246/" />-->
    <add key="WebPath" value="http://appserver.musikaapp.com/" />

    <add key="ImageThumbSize" value="300" />
    <add key="ImageSize" value="800" />

    <add key="XMPPPrefix" value="" />

    <add key="AppName" value="Musika" />
    <!--<add key="RootPath" value="D:\www\Musika" />-->
    <add key="RootPath" value="D:\GitHub_Musika\Musika" />

    <!-- Logger -->
    <!--<add key="LogFilePath" value="D:\www\Musika\content\" />-->
    <add key="LogFilePath" value="D:\GitHub_Musika\Musika\content\" />
    <add key="APIDefalteCompression" value="true" />
    <add key="Logger" value="true" />
    <add key="ServiceFee" value="15" />
    <add key="ItbisTax" value="18" />
    <add key="APILogger" value="true" />
    <add key="APILoggerRequest" value="true" />
    <add key="APILoggerResponse" value="false" />

    <!-- API Keys -->
    <add key="MusicGrapgh_api_key" value="e5e437e8640dd14c33bb48b20673678d" />

    <add key="SeatGeek_client_id" value="NDI5Mzc5NHwxNDU3MDEwMjI0" />
    <add key="SeatGeek_client_secret" value="DmUTFPWXfhFEq26d9YfsKFdKimSnkW9j-rn7pwN2" />
    <add key="Spotify_client_id" value="0dd348a36797488295cf4563b88af1b8" />
    <add key="Spotify_client_secret" value="c09bf5ee7f6e4af49df84c0f17017559" />
    <add key="Spotify_access_token" value="BQAGJyoDrSJQCWrfPZdJCFQNlFgUJoi5t_93f9VMO3VrhGJ0-oVh1OalQrWOZQVcyqQe6N70XCDma_DbN9HSM9GP07Q" />
    <add key="Spotify_Country" value="US" />

    <add key="Eventful_app_key" value="rTrBs399h3nvVW5n" />

    <add key="instagram.clientid" value="b4cba06e1898460d9eaf1cf958aef06e" />
    <add key="instagram.clientsecret" value="8b1523a09fd14ba38593bbb03acca2a2" />
    <add key="instagram.access_token" value="3043048321.b4cba06.b0204541f7e74112b796eeadbf154de3" />
    <add key="instagram.redirecturi" value="http://localhost:35515/Admin/Login/Index" />
    <add key="Instagram.HashTag" value="False" />
    <!--False/True -->

    <add key="Instagram.ArtistPicture" value="False" />
    <!--False/True -->
    <add key="Eventful.ArtistPicture" value="False" />
    <!--False/True -->
    <add key="SeatGeek.ArtistPicture" value="True" />
    <!--False/True -->

    <!-- Log Exception -->
    <add key="AppName" value="Musika" />

    <!-- Email send From  -->
    <add key="ADMIN_EMAIL" value="relay@sdsol.com" />
    <add key="EventAdmin" value="developer@musikaapp.com" />
    <!-- API Authentification  -->
    <add key="passwordKey" value="53mn4NVbODlLqS2" />
    <add key="ApiUsername" value="sdsol" />
    <add key="ApiPassword" value="sdsol99" />

    <!-- Push Notification IOS  -->
    <add key="PushNotification" value="D:\GitHub_Musika\Musika\Content\Certificates\Certificates-Musika-Prod.p12" />
    <add key="CodeValue" value="" />
    <add key="APNSProduction" value="1" />

    <!-- Push Notification Android  -->
    <!--<add key="GoogleAppID" value="AIzaSyC-wCNZQTQLnvpvZ4q-DjhcImsq5oyqVVs" />-->
    <!--<add key="GoogleAppID" value="AIzaSyBjYaIp0KC2AKq4T_Eg5pn_3nyPRtVH0Qg"/>-->
    <!--<add key="SENDER_ID" value="308136215132" />-->
    <!--<add key="SENDER_ID" value="356123364162" />-->

    <add key="GoogleAppID" value="AIzaSyBjYaIp0KC2AKq4T_Eg5pn_3nyPRtVH0Qg" />
    <add key="SENDER_ID" value="356123364162" />
    <add key="GoogleAppIDIos" value="AIzaSyBjYaIp0KC2AKq4T_Eg5pn_3nyPRtVH0Qg" />

    <!-- SendMail Keys-->

    <add key="ApiKey" value="apikey" />
    <add key="ApiKeyPass" value="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" />

  </appSettings>

  <connectionStrings>
    <!-- Live Server Connection String -->
    <!--<add name="MusikaEntities" connectionString="metadata=res://*/MusikaModel.csdl|res://*/MusikaModel.ssdl|res://*/MusikaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=54.70.35.64;initial catalog=Musika;user id=sa;password=sdsol99!;MultipleActiveResultSets=True;App=Musika&quot;" providerName="System.Data.EntityClient" />
    <add name="MusikaEntitiesADO" connectionString="Data Source=54.70.35.64; Initial Catalog=Musika;App=Musika;User ID=sa;Password=sdsol99!;" />-->

    <!-- Local Development Machine Connection String -->
     <add name="MusikaEntities" connectionString="metadata=res://*/MusikaModel.csdl|res://*/MusikaModel.ssdl|res://*/MusikaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-6C7LT1E\SQLEXPRESS;initial catalog=MusikaNew;Integrated Security=True;MultipleActiveResultSets=True;App=Musika&quot;" providerName="System.Data.EntityClient" />
    <add name="MusikaEntitiesADO" connectionString="Data Source=DESKTOP-6C7LT1E\SQLEXPRESS;initial catalog=MusikaNew;Integrated Security=True;" />
    <!-- Staging Server URL -->
    <!-- <add name="MusikaEntities" connectionString="metadata=res://*/MusikaModel.csdl|res://*/MusikaModel.ssdl|res://*/MusikaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=staging2.sdsol.com;initial catalog=Musika;user id=sa;password=sdsol99!;MultipleActiveResultSets=True;App=Musika&quot;" providerName="System.Data.EntityClient" />
    <add name="MusikaEntitiesADO" connectionString="Data Source=staging2.sdsol.com; Initial Catalog=Musika;App=Musika; User ID=sa; Password=sdsol99!;" /> -->

    <!-- 23.111.138.246 database url for development environment -->
    <!--<add name="MusikaEntities" connectionString="metadata=res://*/MusikaModel.csdl|res://*/MusikaModel.ssdl|res://*/MusikaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=23.111.138.246,2728;initial catalog=MusikaNew;user id=sa;password=sdsol99!;MultipleActiveResultSets=True;App=Musika&quot;" providerName="System.Data.EntityClient" />
    <add name="MusikaEntitiesADO" connectionString="Data Source=23.111.138.246,2728;initial catalog=MusikaNew;user id=sa;password=sdsol99!;" />-->
  </connectionStrings>

  <system.web>
    <!--<globalization culture="es-ES" uiCulture="es-ES"/>-->
    <!--<globalization culture="auto:en-US" uiCulture="fr" />-->
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" executionTimeout="15000000" maxRequestLength="214748364" />
    <pages>
      <namespaces>
        <add namespace="MvcPaging" />
      </namespaces>
    </pages>
  </system.web>

  <!--<security>
    <requestFiltering>
      <requestLimits maxAllowedContentLength="104857600" />
    </requestFiltering>
  </security>-->

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="relay@sdsol.com">
        <network host="smtp.office365.com" port="587" defaultCredentials="false" userName="relay@sdsol.com" enableSsl="true" password="Vuza9767" />
      </smtp>
    </mailSettings>

    <!--<mailSettings>
      <smtp from="mukeshsagar.eminence@gmail.com">
        <network host="smtp.sendgrid.net" password="admin@1234" userName="mukeshsagar.eminence@gmail.com" port="587" />
      </smtp>
    </mailSettings>-->
  </system.net>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>


    <!-- Setttings for CORS -->
    <!--<httpProtocol>
    <customHeaders>
      <add name="Access-Control-Allow-Origin" value="*" />
      <add name="Access-Control-Allow-Headers" value="Content-Type" />
      <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
    </customHeaders>
  </httpProtocol>-->

  </system.webServer>
</configuration>