@{
    Layout = null;
    ViewBag.Title = "Forget Password";
}
<head>
    <title></title>
    <link href="~/Areas/Admin/content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Areas/Admin/content/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/Areas/Admin/content/css/animate.css" rel="stylesheet">
    <link href="~/Areas/Admin/content/css/style.css" rel="stylesheet">

    <link type="text/css" href="~/Areas/Admin/Content/plugins/toastr/toastr.css" rel="stylesheet" />
    <script src="~/Areas/Admin/content/js/jquery-2.1.1.js"></script>
    <script src="~/Areas/Admin/content/js/bootstrap.min.js"></script>
    <script src="~/Areas/Admin/content/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/Areas/Admin/content/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="~/Areas/Admin/content/js/inspinia.js"></script>
    <script src="~/Areas/Admin/content/js/plugins/pace/pace.min.js"></script>
    <base href="~/" />
</head>
<html>
<body style="height: 30%;">
    <div class="panel panel-inverse" style="visibility: visible; opacity: 1; display: block; transform: translateY(0px);    margin-top: 234px;    margin-left: 58px;    margin-right: 58px;">
        <div class="panel-heading">Forget Password</div>
        <div class="panel-body no-padding">

            <div class="row">
                <div class="card card-underline">

                    <div class="card">
                        <div class="card-body">
                            <form id="formPassword" class="form-horizontal floating-label" action="@Url.Action("forgetpassword", "ForgetPassword")" accept-charset="utf-8" method="post">
                                <div class="row" style="margin-right: 24px;margin-left: 24px;">
                                    @if (ViewBag.Message != null)
                                    {
                                        <div class="alert @ViewBag.Type">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            @ViewBag.Message
                                        </div>
                                    }
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Email Address</label>
                                            <div class="col-sm-8">
                                                <input type="text" name="Email" class="form-control validate[required]" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @*<div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">New Password</label>
                                                <div class="col-sm-8">
                                                    <input type="password" id="Password" name="NewPassword" class="form-control validate[required]" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Confirm Password</label>
                                                <div class="col-sm-8">
                                                    <input type="password" class="form-control validate[required, equals[Password]]" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-sm-offset-4 col-sm-8 text-right">
                                                @Html.ActionLink("Back to login page", "index", "login")
                                                <input type="submit" class="btn btn-primary" value="Save" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script type="text/javascript" src="~/Areas/Admin/Content/js/jquery-ui-1.10.4.min.js"></script>
    <script type="text/javascript" src="~/Areas/Admin/Content/scripts/common.js"></script>
    <script type="text/javascript" src="~/Areas/Admin/Content/plugins/toastr/toastr.js"></script>
    <script type="text/javascript" src="~/Areas/Admin/Content/plugins/validationEngine/jquery.validationEngine.js"></script>
    <script type="text/javascript" src="~/Areas/Admin/Content/plugins/validationEngine/jquery.validationEngine-en.js"></script>


    @section Scripts{
        <script type="text/javascript">
            $(document).ready(function () {
                $("#formPassword").validationEngine({ promptPosition: "bottomLeft" });
            });
        </script>
    }
</body>

</html>